@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

.gutter.gutter-horizontal {
  position: relative;
  margin: 8px 0;
  cursor: col-resize;
}

.gutter.gutter-horizontal::after {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  content: "";
  background-color: #71717a;
  width: 1px;
  height: 100%;
}
.gutter.gutter-horizontal:hover::after {
  opacity: 1;
}
