@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    display: none;
  }
  .scrollbar {
    scrollbar-width: 0px;
    -ms-overflow-style: none;
  }
}

.search-layout-grid {
  grid-template-columns: 16px minmax(280px, 6fr) 4fr 3fr minmax(120px, 1fr);
}

.search-layout-grid-md {
  grid-template-columns: 16px minmax(300px, 4fr) 2fr 50px !important;
}

.search-layout-grid-sm {
  grid-template-columns: 16px minmax(200px, 4fr) 50px !important;
}

.search-layout-grid-se {
  grid-template-columns: 16px minmax(200px, 1fr) !important;
}

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

.gutter.gutter-horizontal {
  position: relative;
  margin: 8px 0;
  cursor: col-resize;
  min-width: 8px;
  max-width: 8px;
}

.gutter.gutter-horizontal::after {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  content: "";
  background-color: #71717a;
  width: 1px;
  height: 100%;
}
.gutter.gutter-horizontal:hover::after {
  opacity: 1;
}
