@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  --bg-base: #171717;
  --bg-noise: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=);
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    display: none;
  }
  .scrollbar {
    scrollbar-width: 0px;
    -ms-overflow-style: none;
  }
  .context-menu-item {
    @apply text-sm leading-none gap-x-1  rounded-[3px] flex items-center h-8 px-2  relative  select-none outline-none  data-[disabled]:pointer-events-none  hover:bg-neutral-700 transition cursor-pointer mx-1;
  }
  .dropdown-menu-item {
    @apply text-sm leading-none gap-x-1  rounded-[3px] flex items-center h-8 px-[5px]  relative  select-none outline-none  data-[disabled]:pointer-events-none  hover:bg-neutral-700 transition cursor-pointer;
  }

  /* .header-bg-image {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6) 0,
        var(--bg-base),
        100%
      ),
      var(--bg-noise);
  } */

  .header-bg-img-md {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.6)),
        to(var(--bg-base))
      ),
      var(--bg-noise) !important;
  }

  .header-bg-img-sm {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(transparent),
        to(rgba(0, 0, 0, 0.5))
      ),
      var(--bg-noise);
  }
}

.search-layout-grid {
  grid-template-columns: 16px minmax(280px, 6fr) 4fr 3fr minmax(120px, 1fr);
}

.list-bar {
  grid-template-columns: [index] 16px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(
      120px,
      1fr
    );
}

.search-layout-grid-md {
  grid-template-columns: 16px minmax(300px, 4fr) 2fr 50px !important;
}

.grid-md {
  grid-template-columns: 16px minmax(300px, 4fr) 2fr 50px !important;
}

.is-album-track {
  grid-template-columns: 16px minmax(300px, 4fr) 50px !important;
}

.is-search-result {
  grid-template-columns: minmax(300px, 4fr) 50px !important;
}

.search-layout-grid-sm {
  grid-template-columns: 16px minmax(200px, 4fr) 50px !important;
}

.search-layout-grid-se {
  grid-template-columns: 16px minmax(200px, 1fr) !important;
}

.gutter.gutter-horizontal {
  position: relative;
  margin: 8px 0;
  cursor: col-resize;
  min-width: 8px;
  max-width: 8px;
}

.gutter.gutter-horizontal::after {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  content: "";
  background-color: #71717a;
  width: 1px;
  height: 100%;
}
.gutter.gutter-horizontal:hover::after {
  opacity: 1;
}
