@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  --bg-base: #171717;
  --bg-noise: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=);
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    display: none;
  }
  .scrollbar {
    scrollbar-width: 0px;
    -ms-overflow-style: none;
  }
  .context-menu-item {
    @apply relative flex h-8  cursor-pointer select-none items-center gap-x-1 rounded-[3px]  px-2  text-sm leading-none  outline-none  transition hover:bg-neutral-700 data-[disabled]:pointer-events-none;
  }
  .dropdown-menu-item {
    @apply relative flex h-8  cursor-pointer select-none items-center gap-x-1 rounded-[3px]  px-[5px]  text-sm leading-none  outline-none  transition hover:bg-neutral-700 data-[disabled]:pointer-events-none;
  }
  .bg-premium {
    /* @apply bg-[linear-gradient(103.3deg,,_rgba(255,173,214,1)_55.7%,_rgba(162,186,245,1)_81.8%)]; */
    @apply bg-[linear-gradient(to_right,_hsl(269_52.7%_52.7%),_hsl(325_31.7%_51.8%))];
  }

  .header-bg-img-md {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.6)),
        to(var(--bg-base))
      ),
      var(--bg-noise) !important;
  }

  .header-bg-img-sm {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(transparent),
        to(rgba(0, 0, 0, 0.5))
      ),
      var(--bg-noise);
  }

  .header-bg-img-md-light {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(255, 255, 255, 0.1)),
        to(rgba(241, 242, 244))
      ),
      var(--bg-noise) !important;
  }

  .header-bg-img-sm-light {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(transparent),
        to(rgba(255, 255, 255, 0.1))
      ),
      var(rgba(241, 242, 244));
  }

  .disable-table > div {
    display: block;
    height: 100%;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: all 5000s ease-in-out 0s;
    transition-property: background-color, color;
  }
}

.gutter.gutter-horizontal {
  position: relative;
  margin: 8px 0;
  cursor: col-resize;
  min-width: 8px;
  max-width: 8px;
}

.gutter.gutter-horizontal::after {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  content: '';
  background-color: #71717a;
  width: 1px;
  height: 100%;
}
.gutter.gutter-horizontal:hover::after {
  opacity: 1;
}
